#clockcontainer{
    /* border: 2px solid red; */
    height: 40vw;
    width: 40vw;
    background: url('clock.jpg') no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;

}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.4%;
height: 20%;
top: 32%;
left: 49.1%;
     /* display: none; */
}
#minute{
    width: 1%;
height: 32%;
top: 21%;
left: 49.3%;
    /* display: none; */
}
#second{
    width: 1%;
height: 38%;
top: 14%;
left: 49.5%;
     /* display: none; */
}